{% load static %}

<div class="d-flex flex-column gap-2">
    {% for comment in comments %}
        <div class="bg-primary-clr p-3 rounded comment" data-commentid="{{ comment.pk }}">
            {% include "network/partials/_commentheader.html" %}
            <span class="d-inline-block my-2 text-secondary">Replying to <a class="text-accent" href="{% url 'network:profile' comment.post.user %}">@{{ comment.post.user }}</a></span>
            <p class="bg-secondary-clr d-block p-3 rounded-2 comment-content">{{ comment.content|linebreaksbr }}</p>
            {% if user == comment.user %}
            <form data-commentid="{{ comment.pk }}" class="comment-edit-form my-3" style="display:none;">
                <div class="form-floating">
                    <textarea class="form-control" name="content" style="height: 80px;" required>{{ comment.content }}</textarea>
                    <label for="content">Edit comment</label>
                </div>
                <div class="mt-2">
                    <button type="submit" class="btn btn-accent w-100">Update Comment</button>
                </div>
            </form>
            {% endif %}
        </div>
    {% endfor %}
</div>