fastapi==0.115.12
uvicorn[standard]==0.34.3
pydantic==2.11.5
sqlalchemy==2.0.41
aiohttp==3.12.11
tenacity==9.1.2
python-dotenv==1.1.0
loguru==0.7.3
google-generativeai==0.8.5
openai==1.84.0
langchain-huggingface==0.2.0
langchain-qdrant==0.2.0
qdrant-client==1.14.1
pytest==8.4.0
pytest-asyncio==1.0.0
psutil==7.0.0
coolname==2.2.0
gunicorn==23.0.0